/* responsive for 575px */
@media only screen and (max-width: 575px) {
    .sec1-inn h2 {
        padding-bottom: 3vw;
        text-align: center;
    }

    .s1-flex-box {
        width: 94vw;
        gap: 2vw;
        flex-direction: column;
    }

    .s1-fb1 {
        width: 94vw;
        height: 70vw;
    }

    .s1-fb2 {
        width: 94vw;
        height: 60vw;
    }

    .s1-fb3 {
        width: 94vw;
        height: 60vw;
    }

    .s1-fb4 {
        width: 94vw;
        height: 60vw;
    }

    .s1-fb5 {
        width: 94vw;
        height: 60vw;
    }

    .quote {
        gap: 1vw;
        padding: 5px 5vw;
    }

    h5 {
        font-size: 2.5vw;
    }

    del {
        font-size: 2.5vw;
    }
















}